.bynder-wrapper {
    position: relative;
}

/* Tooltip */
.bynder-tooltip {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: #ccecff;
    font-weight: bold;
    padding: 4px 8px ;
    font-size: 13px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    opacity: 0.9;
    border: #00a1ff 1px solid;
    color: #004066;
    visibility: hidden;
}

.bynder-tooltip:before {
    background-image: url(../images/icons/bynder-logo.png);
    background-size: 100% 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    content: '';
    margin-right: 5px;
}

.bynder-wrapper:hover .bynder-tooltip {
    visibility: visible;
}
